

    .bluk3 {
        z-index: 0;
        background-color: #020202;
        border-radius: 60px;
        justify-content: center;
        position: relative;
        margin-top: 70px;
        display: flex;
        padding: 30px;
        margin-bottom: 5rem;
        gap: 7rem;
        }

        .review_terms {
            color: #ffffff;
            font-family: "Gordita-Regular", Helvetica;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 32.5px;
            opacity: 0.7;
            }

            .add_margin{
                margin-top: 70px;
            }

            .social_margin{
            margin-top: 180px;
            }

            .email_margin{
              margin-top: 220px;
            }

            .username_margin{
                margin-top: 380px;
            }

            .radio_green{
                background-color: #33CC00;
                padding: 20px;
                border-radius: 30px;
                font-size: 30px;
            }

            .form_review{
              margin-top: 25px;
            }

            