.display_tests{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    gap: 5rem;

}

@media screen and (max-width:600px){
    .display_tests {
        display: flex;
        flex-direction: column;
     
    }
}

.display_tests > * {
    margin-left: 2rem; /* Adjust as needed */
    margin-top: 2rem;
}