.display_tests{
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
   padding: 10px;
    gap: 5rem;
    border-radius: 25px;
    background: linear-gradient(180deg, rgb(230.3, 255, 222.06) 80%, rgb(51, 205, 0) 95.04%);
    background-color: rgba(255, 255, 255, 1);

}

@media screen and (max-width:600px){
    .display_tests {
        display: flex;
        flex-direction: column;
       
     
    }
}

.display_tests > * {
    margin-left: 2rem; /* Adjust as needed */
    margin-top: 2rem;
}