.CICATE {
    height: 207px;
    width: 1285px;
    }
    
    .cicate_div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 180px;
        width: 100%;
    }

.black{
background-color: #282828;
border-radius: 60px;
padding: 20px;
max-width: 600px;
max-height: 617px;

}

.green{
 background-color: #33cc00;
border-radius: 60px;
padding: 20px;
max-width: 628px;
max-height: 617px;

}

    .color_div{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .color_div > * + * {
        margin-left: 3rem; /* Adjust as needed */
      }

    .union {
        height: 600px;
        width: 1000px;
        z-index: 0;
        position: absolute;
        }

       .uniondiv{
       z-index:3;
     width: 100%; /* Set the width of the div */
      height: 300px; /* Set the height of the div */
      background-image: url('../../assets/union.png'); /* Replace 'your-image-path.jpg' with the path to your image */
      background-size: cover; /* Cover the entire div with the background image */
      background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Do not repeat the background image */
   
    }
    
       

        .unionx{
            width: 100%; /* Set the width of the div */
      height: 300px; /* Set the height of the div */
      background-image: url('../../assets/Unionx.png'); /* Replace 'your-image-path.jpg' with the path to your image */
      background-size: cover; /* Cover the entire div with the background image */
      background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Do not repeat the background image */
            z-index: 0;
        margin-left: -30rem;
           
        }

        .make_test{
 color: #ffffff;
font-family: "Gordita-Regular", Helvetica;
font-size: 60px;
font-weight: 400;
letter-spacing: 0;
line-height: 70.2px;
        }

        .read_more{
background-color: #33cc00;
border-radius: 60px;
color: #ffffff;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 35px;
font-weight: 400;
letter-spacing: 0;
line-height: 40.9px;
text-align: center;
        }
        
        .testad {
            color: #ffffff;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 8rem;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 70px;
            z-index: 0;
           
            }

     .make_sure{
color: #ffffff;
font-family: "Gordita-Regular", Helvetica;
font-size: 2.4rem;
font-weight: 400;
letter-spacing: 0;
line-height: 35.2px;
            }
        .rea_div{
            margin-top: 1rem;
        }
            .test_imgg{
                justify-content: center;
                margin-top: 2rem;
                margin-left: 15rem;
                line-height: 5rem;
            }

            .rea_more{
 background-color: #33cc00;
border-radius: 60px;
color: #ffffff;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 19px;
font-weight: 300;
letter-spacing: 0;
line-height: 40.9px;
text-align: center;
padding: 1.5rem;
            }
         
           

                .buton_test {
                    background-color: #33cc00;
                    border-radius: 60px;
                    height: 116px;
                    width: 355px;
                    color: #ffffff;
                    font-family: "PP Monument Extended-Regular", Helvetica;
                    font-size: 35px;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: 40.9px;
                    text-align: center;
                    width: 355px;
                    position: relative;
                    cursor: pointer;
                    margin-top: 20px;
                    }
      
.weheader {
 color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 6.5rem;
font-weight: bold;
letter-spacing: 0;
line-height: 69px;
   }
                        .shift{
                            margin-left: 40px;
                            
                        }
                         .two_para{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                          
                         }

                         .two_para > * + * {
                            margin-left: 8rem; /* Adjust as needed */
                          }
.all_para1{
    color: #ffffff;
    font-family: "Gordita-Medium", Helvetica;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 27.2px;
    text-align: justify;
  

    
}
                         .all_para {
                            color: #ffffff;
                            font-family: "Gordita-Regular", Helvetica;
                            font-size: 17px;
                            font-weight: 400;
                            letter-spacing: 0;
                            line-height: 27.2px;
                            text-align: justify;
                           
                            }
                            
                        .goal_header {
                            color: #ffffff;
                            font-family: "Monument Extended-Regular", Helvetica;
                            font-size: 70px;
                            font-weight: 400;
                            letter-spacing: 0;
                            white-space: nowrap;
                           
                         
                            }
                           .semi{
                            display: flex;
                           justify-content: space-around;
                            
                            padding-top: 40px;
                           }
                            .goal_img{
                                height: 150px;
                                
                                width: 150px;
                                }

                        .wepara {
                            color: #ffffff;
                            font-family: "Gordita-Medium", Helvetica;
                            font-size: 2rem;
                            font-weight: 300;
                            letter-spacing: 0;
                            line-height: 31.2px;
                            text-align: justify;
                            
                            }
                
            
     .image_slant{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        z-index: 0;
        margin-bottom: 25rem;
   
     }

    


     .test_make{
    color: #ffffff;
font-family: "Gordita-Regular", Helvetica;
font-size: 60px;
font-weight: 400;
letter-spacing: 0;
line-height: 70.2px;
     }
    .down_boxx{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .down_black {
        background-color: #282828;
        border-radius: 60px;
        position: relative;
        padding: 50px;
       max-height: 856px;
        max-width: 600px;
        }

        .right_cont{
            margin-bottom: 280px;
        }

        .image_text1{
          margin-top: -600px;
          margin-left: 30px;
          z-index: 0;
        }

        .last{
           margin-bottom: -250px;
            z-index: 0;
        }

        @media screen  and (max-width:600px) {
            .CICATE {
                height: 5.5rem;
                width: 28rem;
                }

                .cicate_div{
                    margin-top: 7.3rem;
                }

                .color_div{
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    margin-right: 1.3rem;
                    
                }

                .down_boxx{
                    display: none !important;
                }

                .weheader{
                    font-size: 3rem;
                    margin-top: -6rem;
                }

                .testad{
                font-size: 3rem;
                line-height: 30px;
                }

                .make_sure{
                 font-size: 1.5rem;
                 line-height: 23px;
                }

                .image_slant{
                    display: none !important;
                }
               

                .wepara{
                    font-size: 1.2rem;
                    line-height: 18px;
                }
               
                .shift{
                    margin-left: 20px;
                    padding-top: 40px;
                }

                .green{
                    padding: 22px;
                    margin-left: 1rem;
                }

                .black{
                    line-height: 30px;
                    margin-left: 1rem;
                }

               
        }