
    .current-position {
        background-color: #33cc00;
        border-radius: 30px;
        height: 10px;
        left: 0;
        top: 0;
        width: 330px;
        }

        .pic1{
            height: 23px;
            left: 0;
            top: 0;
            width: 29px;
            }

            .pic_unselect{
                height: 23px;
                left: 0;
                top: 0;
                width: 29px;
                opacity: 0.5;
                }

            .inside_flex{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
            
            .next {
                height: 23px;
                left: 0;
                top: 0;
                width: 70px;
                margin-left: 100px;
                }

    .fall{
        margin-left: 1200px;
        justify-content: center;
    }

    .flex_green_sign{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-top: 400px;
        margin-left: -930px;
       
        
    }
    .personal_information {
        color: #ffffff;
        font-family: "PP Monument Extended-Light", Helvetica;
        font-size: 20px;
        font-weight: 400;
        height: 46px;
        left: 0;
        letter-spacing: 0;
        line-height: 22.3px;
        top: 0;
        width: 214px;
        }

        .flex_end{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3.5rem;
          margin-top: 30px;
        }

       

        .bluk {
            height: 400px;
            left: 0;
            top: 0;
            width: 1600px;
            z-index: 0;
            background-color: #020202;
            border-radius: 60px;
            justify-content: center;
            position: relative;
            margin-top: 80px;
            margin-left: 160px;
            padding-bottom: 70px;
            
            }
.next_big{
background-color: #33CC00;
color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 30px;
font-weight: 400;
right: 0;
letter-spacing: 0;
line-height: 17.4px;
text-align: center;
top: 0;
height: 50px;
border-radius: 10px;
left: 0;
width: 130px;
white-space: nowrap;
}

.submit_section{
    margin-top: 60px;
}
.already_register{
    color: #f9034d;
font-family: "Gordita-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
left: 0;
letter-spacing: 0;
line-height: 17.4px;
top: 0;
white-space: nowrap;
}

.subtract_img {
    height: 41px;
    left: 0;
    top: 0;
    width: 46px;

    }
            .labels{
                
                    color: #ffffff;
                    font-family: "Gordita-Regular", Helvetica;
                    font-size: 30px;
                    font-weight: 400;
                    height: 25px;
                    left: 0;
                    letter-spacing: 0;
                    line-height: 32.5px;
                    opacity: 0.7;
                    top: 0;
                    white-space: nowrap;
                    width: 215px;
                    }
                     
                    .inputs{
                        color: #ffffff;
                        font-family: "PP Monument Extended-Light", Helvetica;
                        font-size: 25px;
                        font-weight: 300;
                        height: 60px;
                        letter-spacing: 0;
                        line-height: 40.5px;
                        text-align: center;
                        white-space: nowrap;
                        width: 700px;
                        background-color: #282828;
                      border-color: #ffffff;
                        border-radius: 30px;
                        padding: 10px;
                        }

                        .form_class{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          height: 400px;
                          width: 400px;
                          line-height: 50px;
                          gap: 6rem;
                        }
                       .right_side{
                        margin-top: 5px;
                       } 
            
        .personal {
            font-weight: 300;
            font-size: 50px;
            font-family: "PP Monument Extended-Light", Helvetica;
            }
            .information {
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 60px;
            font-weight: bold;
            line-height: 45px;
            }


            .personal_unselected {
                font-weight: 300;
                font-size: 50px;
                font-family: "PP Monument Extended-Light", Helvetica;
                opacity: 0.5;
                }
                .information_unselected {
                font-family: "Monument Extended-Regular", Helvetica;
                font-size: 60px;
                font-weight: bold;
                line-height: 45px;
                opacity: 0.5;
                }

    .green_body {
        height: 200px;
        left: 16px;
        top: 0;
        width: 150px;
        }

        .green_div {
            height: 250px;
            left: 0;
            top: 0;
            width: 150px;
            }

            .signup_white{
                color: #ffffff;
                font-family: "Monument Extended-Regular", Helvetica;
                font-size: 100px;
                font-weight: bold;
                height: 57px;
                left: 0;
                letter-spacing: 0;
                line-height: 80.7px;
                top: 0;
                width: 500px;
                }
                