
.next_big{
  background-color: #33CC00;
  color: #ffffff;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 17.4px;
  text-align: center;
  border-radius: 20px;
  white-space: nowrap;
  padding: 10px;

  }
  .fall{
    line-height: 25px;
    margin-top: -4rem;
  }
.downBackbutton{
  margin-bottom: -4rem;
}

  .right_side{
line-height: 25px;
margin-top: 1.4rem;
  }
  .nonet{
    display: none;
  }



  .inactive_next_big{
    background-color:gray;
    color: #ffffff;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17.4px;
    text-align: center;
    border-radius: 20px;
    white-space: nowrap;
    padding: 10px;
    }
  
  .submit_section{
      margin-top: 20px;
    
  }
  .already_register{
   color: #33cc00;
  font-family: "Gordita-Regular", Helvetica;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 17.4px;
  white-space: nowrap;
  margin-left: 20px;
  }
  
  .subtract_img {
      height: 41px;
      width: 46px;
      }
             
  
                          .form_class{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            line-height: 50px;
                            margin-top: 1.5rem;
                          }
  
                          .form_class > *   {
                              margin-left: 5rem; /* Adjust as needed */
                            }

                            
                            
                          

        .labels{
          color: #ffffff;
          font-family: "Gordita-Regular", Helvetica;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 32.5px;
          opacity: 0.7;
          white-space: nowrap;
                }
                
                .inputs{
                  color: #ffffff;
                  font-family: "PP Monument Extended-Light", Helvetica;
                  font-size: 18px;
                  font-weight: 300;
                  letter-spacing: 0;
                  line-height: 32.5px;
                  text-align: center;
                    white-space: nowrap;
                    background-color: #282828;
                  border-color: #ffffff;
                    border-radius: 30px;
                    padding: 2px;
                    padding-left: 60px;
                    padding-right: 60px;
                    }


                    .input_invalid{
                      color: #ffffff;
                      font-family: "PP Monument Extended-Light", Helvetica;
                      font-size: 18px;
                      font-weight: 300;
                      letter-spacing: 0;
                      line-height: 32.5px;
                      text-align: center;
                        white-space: nowrap;
                        background-color: #282828;
                      border-color:tomato;
                        border-radius: 30px;
                        padding: 2px;
                        padding-left: 60px;
                        padding-right: 60px;
                        }

                        .input_valid{
                          color: #ffffff;
                          font-family: "PP Monument Extended-Light", Helvetica;
                          font-size: 18px;
                          font-weight: 300;
                          letter-spacing: 0;
                          line-height: 32.5px;
                          text-align: center;
                            white-space: nowrap;
                            background-color: #282828;
                          border-color:#33CC00;
                            border-radius: 30px;
                            padding: 2px;
                            padding-left: 60px;
                            padding-right: 60px;
                            }

                   
      .justify_bluk{
        justify-content: center;
        display: flex;
      }
                    .inputs_select{
                      color: #ffffff;
                      font-family: "PP Monument Extended-Light", Helvetica;
                      font-size: 18px;
                      font-weight: 300;
                      letter-spacing: 0;
                      line-height: 32.5px;
                      text-align: center;
                        white-space: nowrap;
                        background-color: #282828;
                      border-color: #ffffff;
                        border-radius: 30px;
                        padding: 5px;
                        padding-left: 100px;
                        padding-right: 100px;
                        }

                        @media screen and (max-width: 600px) {
                          .form_class{
                            display: grid !important;
                            flex-direction: column;
                            justify-content: center;
                          }

                          .bluk{
                            padding: 3rem;
                          
                          }

                          .labels{
                            font-size: 18px;
                          }


                          .input_invalid{
                            font-size: 13px;
                            border-color:red;
                            line-height: 20.5px;
                           
                              }
      
                              .input_valid{
                                font-size: 13px;
                                border-color:#33CC00;
                                line-height: 20.5px;
                                
                               
                                  }

                          .inputs{
                          font-size: 13px;
                          line-height: 20.5px;
                          }

                          .input_country{
                            font-size: 10px;
                            line-height: 20.5px;
                          }

                          

                          .form_class > *  {
                            margin-left: 2rem; /* Adjust as needed */
                          }
                          

                          .right_side{
                            margin-top: 0rem; /* Adjust */
                          }
                        }
    

                  
        
  





       