.footer{
display: flex;
align-items: center;
background: #282828;
justify-content: center;
color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
bottom: 0;
gap: 6rem;
z-index: 2;
width: 100%;
}

.foot__headers {
    color: #ffffff;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;

    letter-spacing: 0;
    line-height: 27.3px;
 
    white-space: nowrap;
    z-index: 2;
 
 
    }

    .foot__content {
        color: #ffffff;
        font-family: "Gordita-Regular", Helvetica;
        font-size: 14px;
        font-weight: 400;
        left: 0;
        letter-spacing: 0;
        line-height: 26.2px;
        opacity: 0.5;
        top: 0;
       
        }

ul{
    padding: 0;
    
}


