.try{
    justify-content: center;
    display: flex;
    padding-top: 180px;
    padding-bottom: 150px;
  
   
}

.images__style{
height: 15px;
width: 18px;
}

.button_shift{
    margin-top: 4rem;
    margin-left: 1rem;
}

@media screen  and (max-width:600px){
   .button_shift{
    margin-top: 0.5rem;
    margin-left: 4rem;
    margin-bottom: 0.8rem;
   }

   .try{
    padding-top: 100px;
    padding-bottom: 20px;
   }

   .next_big{
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
   }

   .inactive_next_big{
    background-color:gray;
 
    font-size: 1.5rem;

    padding: 1rem;
    }
}