

    
        .green_money {
            color: #33cc00;
            font-family: "PP Monument Extended-Light", Helvetica;
            font-size: 30px;
           font-weight: 300;
           letter-spacing: 0;
            line-height: 32.1px;
            letter-spacing: 0;
            margin-top: 80px;
            }

            .onsite-online{
                color: #ffffff;
                font-family: "PP Monument Extended-Regular", Helvetica;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.54px;
                line-height: 32.5px;
                border-radius: 8rem;
                text-align: center;
              padding: 7px;
                padding-left: 15px;
                padding-right: 15px;
                
            }

            .onsite-online1{
                color: #ffffff;
                font-family: "PP Monument Extended-Regular", Helvetica;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: -0.54px;
                line-height: 32.5px;
                background-color: #33cc00;
                border-radius: 8rem;
                text-align: center;
                padding: 7px;
                padding-left: 15px;
                padding-right: 15px;
                
              
                            }
            .onsie{
                display: flex;
                justify-content: left;
                align-items: center;
                margin-top: 3rem;
            }

            .onsie > * + * {
                margin-left: 5rem; /* Adjust as needed */
              }
            

            .regfor{
                justify-content:left;
                display: flex;
                justify-content: center;
                align-items: center;
               margin-right: 350px;
                line-height: 70px;
                padding-top: 60px;
            }

            .regfor > * + * {
                margin-left: 7rem; /* Adjust as needed */
              }
            


        .registering {
            color: #ffffff;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 53px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 56.7px;
            letter-spacing: 0;
            line-height: 56.7px;
            }
            .for {
            font-family: "PP Monument Extended-Light", Helvetica;
            font-size: 53px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 30.7px;
            color: #ffffff;
            }
            
    
                .questions {
                    color: #ffffff;
                    font-family: "Monument Extended-Regular", Helvetica;
                    font-size: 30px;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: 32.1px;
                    margin-top: 7rem;

                    }

            .second_block{
                background-color:#282828;
                justify-content: center;
                align-items: center;
                border-radius: 60px;
                padding: 3rem;
                
            }

           