

    .congrats {
        color: #ffffff;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 6rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 74.9px;
        text-align: center;
        padding-bottom: 20px;
        }

        .congrats_below {
            color: #ffffff;
            font-family: "Gordita-Light", Helvetica;
            font-size: 3.3rem;
            font-weight: 200;
            letter-spacing: 0;
            line-height: 48px;
            text-align: center;
            padding-top: 20px;
            top: 0;
           
            }
             .done{
              justify-content: center;
             }
            .trophyy {
               justify-content: center;
               margin-left: 800px;
               padding-top: 40px;
              
                }

                .img_size{
                 width: 100px;
                }

                .white_flex {
                    background-color: #ffffff;
                    border-radius: 30px;
                    color: #282828;
                        font-family: "Monument Extended-Regular", Helvetica;
                        font-size: 2rem;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 21.4px;
                        text-align: center;
                        padding: 15px;
                    }

                    .green_flex {
                        background-color: #33cc00;
                        border-radius: 30px;
                        color: #282828;
                        font-family: "Monument Extended-Regular", Helvetica;
                        font-size: 2rem;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 21.4px;
                        text-align: center;
                        padding: 15px;
                        }

                        .bottom_wg{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 35px;
                            gap: 5rem;
                        }

                       




    .bluk4 {
        z-index: 0;
        display: flex;
        background-color: #020202;
        border-radius: 90px;
        justify-content: center;
        margin-top: 120px;
        padding-bottom: 70px;
        box-shadow: 15px 15px 100px rgba(11, 197, 36, 0.624);
        display: inline-block;
        padding: 4rem;
        margin-bottom: 6rem;
        }


        @media screen and (max-width: 600px) {
            .bluk4{
                padding: 3.1rem;
            }


            .congrats{
                font-size: 3.3rem;
            }

            .congrats_below{
                font-size: 2rem;
                line-height: 30px;
                padding-top: 5px;
            }

            .white_flex{
              font-size: 1.2rem;
              padding: 8px;
            }

            .green_flex{
             font-size: 1.2rem;
             padding: 8px;
            }

            .bottom_wg{
                gap: 1rem;
                padding-top: 10px;
            }
        }