.how_to_use{
  color: #282828;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 94.5px;
  text-align: center;
margin-top: 200px 
  }
  
  .pocas{
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 57.3px;
    text-align: center;
  }
  
  .opacity{
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 57.3px;
    text-align: center;
  opacity: 0.5;
  }

  .gate_display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }

 
 
            
            
    .gate__container {
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: larger;
      font-weight: bold;
      margin-top: 90px;
    color: #282828;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 57.3px;
  text-align: center;
  padding-top: 50px;
    }
    .gate__container > * + * {
      margin-left: 7rem; /* Adjust as needed */
    }

.gate_bos{
  background-color: #282828;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 43px;
  height: 45rem;
  width: 35rem;
  margin-top: 3rem;
  padding-bottom: 200px;

    }

.dispaly_box{
display: flex;
justify-content: center;
align-items: center;
margin-top: 6rem;
gap: 4rem;
}

.box_bl{
  background-color: #282828;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 43px;
  height: 20rem;
  width:25rem;
  margin-top: 3rem;
  padding-bottom: 6rem;
}
.gate_bos_right{
  text-align: justify;
    height: 605px;
    width: 400px;
    
}

.labelx {
  height: 193px;
  width: 400px;
  margin-top: -3rem;
  }

.gate_resul{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 45px;
font-weight: bold;
left: 0;
letter-spacing: 0;
line-height: 60px;
margin-left: 30rem;
margin-top: 4rem;


}
.spandown{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 34px;
font-weight: bold;
left: 0;
letter-spacing: 0;
line-height: 35px;
}
.gate_up{
  font-family: "PP Monument Extended-Light", Helvetica;
  font-size: 30px;
  font-weight: 300;
  line-height: 30.6px;
}

.gate_bigg{
  line-height: 49px;
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 50px;
font-weight: 400;
}

.p_class{
color: #282828;
font-family: "Gordita-Regular", Helvetica;
font-size: 17px;
font-weight: 400;
letter-spacing: 0;
line-height: 30px;
opacity: 0.8;
text-align: justify;
}