.profile_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}
.profile_black3{
    background: #282828;
    width: 900px;
    height:460px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}


.profile_black4{
    background: #282828;
    width: 900px;
    height:320px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
}

.form_profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    line-height: 30px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
.profile_profile{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.top_profile{
    display: flex;
    width: 90%;
    margin-bottom: 2rem;
    padding-top: 2rem;
  
}

.bottom_profile{
    display: flex;
    width: 85%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    gap: 3rem;
}
.profile_btn{
    background: #33CC00;
    border: none;
    padding: 7px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 1rem;
}

.profile_btn1{
    border: 1px solid #33CC00;
  background: #282828;
    padding: 7px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 1rem;
}

@media screen and (max-width: 600px) {
    .form_profile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0rem;
        line-height: 25px;
      
    }

    .profile_black3{
        background: #282828;
        width: 300px;
        height:590px;
        line-height: 35px;
        padding: 10px;
    }

    .profile_black4{
       width: 300px;
        height:430px;
        padding: 10px;
   
    }
    .top_profile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        padding-top: 2rem;
      
    }
    
}

