.div3{
    background-color: #282828;
}

.numbers_green{
    background-color: #33CC00;
    margin-right: 8px;
    padding: 8px;
    border-radius: 70%;
}

.review_flex1{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 4rem;
    line-height: 50px;
}

.review_flex1 > * + * {
    margin-left: 7rem; /* Adjust as needed */
  }

  .push_button{
    padding-top: 4rem;
  }

.choose1{
  
}