.div3{
    background-color: #282828;
}

.numbers_green{
    background-color: #33CC00;
    margin-right: 8px;
    padding: 8px;
    border-radius: 70%;
}

.review_flex1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    line-height: 50px;
}


.review_flex1 > * + * {
    margin-left: 7rem; /* Adjust as needed */
  }

  .push_button{
    padding-top: 5rem;
  }



@media screen  and (max-width:600px){

  .review_flex1{
    display: grid !important;
    flex-direction: column;
  }
  .review_flex1{
   
    line-height: 0px;
}
  .choose1{
    margin-left: 0rem;
  }


  
.timex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


}

.timex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.con{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-top: 2rem;
}