.you_are{
    color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 80px;
font-weight: bold !important;
left: 0;
letter-spacing: 0;
line-height: 53.5px;
white-space: nowrap;
}

.regarding{
color: #ffffff;
font-family: "Gordita-Light", Helvetica;
font-size: 30px;
font-weight: 300;
left: 0;
letter-spacing: 0;
line-height: 30px;
}

.cup_you{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 6rem;
    background-color: #282828;
    margin-top: 60px;
    border-radius: 50px;
    line-height: 50px;
    width: 1000px;
    box-shadow: 20px 20px 150px rgba(30, 235, 38, 0.624);
    margin-left: 450px;
    margin-bottom: 80px;
    padding-bottom: 40px;
}


.finish{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 20px;
}

.receipt{
    align-items: center;
    background-color: #33cc00;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    height: 37px;
    justify-content: center;
    padding: 0px 21px;
    position: relative;
    width: 303px;
    color: #ffffff;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 25px;
font-weight: 400;
}

.dash{
    color: #33cc00;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 25px;
font-weight: 400;
    align-items: center;
    border: 1px solid;
    border-color: #33cc00;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    height: 37px;
    justify-content: center;
    padding: 0px 21px;
    position: relative;
    width: 223px;
}
