.profile{
    display: flex;
    align-items: center;
    margin-top: 4rem;
    justify-content: space-around;
    margin-left: -5rem
    
  
}


.profile_black{
    background: #282828;
    width: 900px;
    height:460px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}


.h1-pro{
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.profile_justify{
  margin-top: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
 
}

.profile_name{
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.profile_email{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.tracking{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width:600px){
    
.profile_black{
    background: #282828;
    width: 300px;
    height:380px;
    line-height: 25px;
    padding: 20px;
}

.profile_name{
    font-size: 20px;
}
.profile_email{
    font-size: 15px;
    
}

.tracking{
   
    font-size: 12px;

}
.profile_img{
    height: 20vh;
}

.profile{
    margin-left: 0rem
    
  
}
}