.profile_black5{
    background: #282828;
    width: 900px;
    height:140px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

.del-para{
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile_btn2{
    border: none;
  background: #FA034D;
    padding: 7px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile_black5{
        width: 300px;
        height:170px;
        line-height: 30px;
        padding: 10px;
     
    }

    .del-para{
        line-height: 20px;
        letter-spacing: 0%;
        text-align: justify;
        color: #FFFFFF;
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .profile_justify{
        margin-top: 1rem;
        padding-bottom: 0rem;
    }
}
