.first_header {
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 120px;
    font-weight: bold !important;
    left: 0;
    letter-spacing: 0;
    line-height: 130.4px;
    text-align: center;
    top: 0;
   margin-top: 100px;
    display: flex !important;
    justify-content: center !important;
    margin-left: 250px;
    }
    .cardz {
        background: linear-gradient(180deg, rgb(40, 40, 40) 5.21%, rgb(51, 204, 0) 24.4%);
        border-radius: 60px;
        box-shadow: var(--shadow);
        height: 307px;
        left: 0;
        top: 0;
        width: 975px;
        }
.move_card{
display: flex;
justify-content: center;
align-items: center;
margin-left: 240px;
margin-top: 200px;
padding-bottom: 70px;
}
    .options1 {
        color: #ffffff;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 30px;
        font-weight: bold !important;
        height: 75px;
        left: 0;
        letter-spacing: 0;
        line-height: 65px;
        text-align: center;
        top: 0;
        width: 350px;
        background-color: #33cc00;
        border-radius: 30px;
        margin-top: 50px;
        }


    .options2 {
        color: #ffffff;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 30px;
        font-weight: bold !important;
        height: 75px;
        left: 0;
        letter-spacing: 0;
        line-height: 65px;
        text-align: center;
        top: 0;
        width: 350px;
        background-color: black;
        border-radius: 30px;
        margin-top: 50px;
        }



    .flex_options{
        display: flex !important;
        justify-content: center !important;
        align-items: center;
        gap: 5rem;
        margin-left: 270px;
    }

    .long {
        height: 1579px;
        left: 0;
        top: 0;
        width: 1119px;
        justify-content: center !important;
        display: flex !important;
        align-items: center !important;
        margin-left: 1000px;
        margin-top: 60px;
        z-index: 0;
        }

        .green_globe{
            display: flex;
            justify-content: center;
            align-items: center !important;
            margin-top: 50px;
           
        }

        .not_enough{
                color: #ffffff;
                font-family: "PP Monument Extended-Light", Helvetica;
                font-size: 30px;
                font-weight: 300;
                left: 0;
                letter-spacing: 0;
                line-height: 34.8px;
                top: 0;
                width: 786px;
                }
                .apply1{
                    color: #ffffff;
                    font-family: "Monument Extended-Regular", Helvetica;
                    font-size: 48px;
                    font-weight: 400;
                    left: 0;
                    letter-spacing: 0;
                    line-height: 51.8px;
                    top: 0;
                    width: 431px;
                }


        .form_but {
            align-items: center;
            background-color: #ffffff;
            border-radius: 23px;
            display: flex;
            gap: 10px;
            justify-content: center;
            overflow: hidden;
            padding: 13px 0px;
            position: relative;
            width: 457px;
            font-family: "PP Monument Extended-Light", Helvetica;
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 32.5px;
            text-align: center;
            top: 0;
            white-space: nowrap;
            color: #33cc00;
            }

            .left_green{
                margin-left: 30px;
                margin-right: -300px;
            }

        .imagetrs {
            height: 230px;
            left: 0;
            top: 0;
            width: 901px;
            z-index: 1;
            justify-content: center !important;
            display: flex !important;
            }
            .second_imagep{
display: flex ;
justify-content: center;
z-index: 1;
margin-top: -1500px;
margin-left: 240px;
            }

            .write_div{
             justify-content: center !important;
             z-index: 1;
             margin-left: 1150px;
             margin-top: 50px;
            }

            .span_class1 {
                color:#ffffff;
                font-family: "Monument Extended-Regular", Helvetica;
                font-size: 45px;
                font-weight: bold !important;
                letter-spacing: 0;
                line-height: 44px;
                }

                .spanl {
                    font-family: "PP Monument Extended-Regular", Helvetica;
                    font-size: 35px;
                    line-height: 33px;
                    color: #ffffff;;
                    }

                    .info_log {
                        color: #ffffff;
                        font-family: "Gordita-Regular", Helvetica;
                        font-size: 30px;
                        font-weight: 400;
                        left: 0;
                        letter-spacing: 0;
                        line-height: 31.6px;
                        opacity: 0.8;
                        top: 0;
                        width: 764px;
                        text-align: justify;
                        }
                    