.how_to_use{
    justify-content: center;
    display: flex;
    margin-top: 120px;
    color: #282828;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 150px;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 120.5px;
  text-align: center;
  margin-top: 500px;
  }
  
  .pocas{
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: 0;
    line-height: 57.3px;
    text-align: center;
  }
  
  .opacity{
    color: #282828;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 100px;
  font-weight: bolder;
  letter-spacing: 0;
  line-height: 57.3px;
  opacity: 0.5;
  text-align: center;
  }
  .label {
    height: 190px;
    width: 994px;
    }
  
    .gate__container {
      justify-content: center;
      display: flex;
      align-items: center;
      font-size: larger;
      font-weight: bold;
      gap: 5rem;
      margin-top: 90px;
      color: #282828;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 60px;
  letter-spacing: 0;
  line-height: 57.3px;
  text-align: center;
  padding-top: 50px;
    }

    .box {
        height: 481px;
        width: 600px;
        margin-left: 1000px;
        line-height: 50px;
        margin-bottom: 500px;
        padding-top: 70px;
        margin-top: 90px;
        margin-left: 700px;
        }
    
        .box2 {
          height: 481px;
          width: 600px;
          margin-left: 1500px;
          line-height: 50px;
          padding-top: 1px;
          margin-top: -1020px;
          }
        
          .spans
            {
              font-family: "PP Monument Extended-Light", Helvetica;
              font-size: 30px;
              font-weight: 300;
              letter-spacing: 0;
              line-height: 41.1px;
          }
        .rectangle {
          background-color: #282828;
          border: 2px solid;
          border-color: #ffffff;
          border-radius: 43px;
          height: 505px;
          justify-content:center;
          width: 450px;
          top: 6;
          }
    
          .para{
            color: #282828;
            width: 450px;
            margin-top: 600px;
            padding-bottom: 10px;
            padding-top: -200px;
            color: #282828;
             font-family: "Gordita-Regular", Helvetica;
            font-size: 25px;
           font-weight: 400;
         letter-spacing: 0;
         line-height: 34px;
          opacity: 0.8;
          text-align: justify;
          }
    
          .para3{
            color: #282828;
            width: 600px;
            margin-top: 100px;
            padding-bottom: 10px;
            color: #282828;
             font-family: "Gordita-Regular", Helvetica;
            font-size: 25px;
           font-weight: 400;
         letter-spacing: 0;
         line-height: 34px;
          opacity: 0.8;
          text-align: justify;
          }
    
          .para4{
            color: #282828;
            width: 600px;
            margin-top: 100px;
            padding-bottom: 10px;
            color: #282828;
             font-family: "Gordita-Regular", Helvetica;
            font-size: 25px;
           font-weight: 400;
         letter-spacing: 0;
         line-height: 34px;
          opacity: 0.8;
          text-align: justify;
          }
    
          .header{
            color: #282828;
         font-family: "Monument Extended-Regular", Helvetica;
         font-size: 40px;
        font-weight: 400;
         left: 0;
      letter-spacing: 0;
      line-height: 40.2px;
       height: 10px;
          }
    
    
          .header2{
            color: #282828;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 60px;
            font-weight: bold;
            left: 0;
            line-height: 20px;
            text-align: justify;
          }
         .para1 {
    padding-top: 50px;
    color: #282828;
             font-family: "Gordita-Regular", Helvetica;
            font-size: 25px;
           font-weight: 400;
         letter-spacing: 0;
         line-height: 34px;
          opacity: 0.8;
          text-align: justify;
          }
    
          .para2 {
            padding-top: 50px;
            color: #282828;
             font-family: "Gordita-Regular", Helvetica;
            font-size: 25px;
           font-weight: 400;
         letter-spacing: 0;
         line-height: 34px;
          opacity: 0.8;
          text-align: justify;
          padding-bottom: 90rem;
          }