.box_bl1{
  background-color: #282828;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 43px;
  height: 30rem;
  width:30rem;
  margin-top: 14rem;
  padding-bottom: 10rem;
}

.gate_bigg1{
line-height: 30px;
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 30px;
font-weight: bold;
}

.dispaly_box1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21rem;
  gap: 4rem;
  margin-bottom: 15rem;
  }
  
  .dispaly_box1 > * + * {
    margin-left: 4rem; /* Adjust as needed */
  }

  @media screen and (max-width:600px){
    .box_bl1{
      margin-top: 0rem;
      padding-bottom: 0rem;
    }

    

    body .dispaly_box1{
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
      gap: 4rem;
      margin-bottom: 5rem;
      }

      .gate_bigg1{
        line-height: 25px;
        font-size: 20px;
        }
  }