*::before{
    margin:0;
    box-sizing: border-box;
}


a {
color: black;
text-decoration: none ;
}


li{
    list-style: none;
    text-decoration: none ;
}

body {
  font-size: 1rem;
  
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}


.navv{
    align-items: center;
    height: 8vh;
    text-decoration: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    background-color: #ffffff;
   
    
}

.navv > * + * {
    margin-left: 10px; /* Adjust as needed */
  }


.vector {
    margin-right: 5px;
    height: 20px;
    }

    .vector0 {
        margin-right: 5px;
        height: 20px;
        }


 .up__header{
text-decoration: none;
right: 10px;
display: flex;
justify-content: center;
gap: 1rem;
margin-right: 700px;
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 40px;
font-weight: bold;
letter-spacing: -0.3px;
line-height: 1.4px;
text-align: right;
cursor: pointer;
    }

    .nav__menu{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-family: "PP Monument Extended-Regular", Helvetica;
      cursor: pointer;
      gap: 1rem;
      font-size: 16px;
      flex-direction: row;
      }

      .navv ul li a:hover{
        color:#ffffff;
        background-color:  #33cc00;
        border-radius: 1rem;
    
      }
      .navvv ul li a:hover{
        color:#ffffff;
        background-color:  #33cc00;
        border-radius: 1rem;
      }
      
      
      .nav__menu > *  {
          margin-left: 3rem; /* Adjust as needed */
        }
      

        .under__Header a:hover{
          color:#ffffff;
          background-color:  #33cc00;
          border-radius: 1rem;
        }


@media screen and (max-width: 600px) {
 body .nav__toggler {
    display: block;
    cursor: pointer;
    margin-right: auto;
      display: grid;
      justify-content: flex-end;
 
    
  }

 
    
  .nav__menu {
      position: fixed;
      top: 7vh;
      height: 100%;
      width: 50%;
      gap:3rem;
      display: flex;
      flex-direction: column;
      background-color: #33cc00;
      transform: translateX(100%);
      text-decoration: none;
      z-index: 3;
  }

 body .signUp{
  padding: 0.5rem;
  }

  body .under__Header{
    display: none;
  }

  .nav__menu >  *  {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
  }


}


  .nav__active{
      transform: translateX(0);
  }




.nav_brand{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    color: #282828;
}


.nav_brand2{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    margin-right: 45px;
    color:#ffffff
}
.login {
    all: unset;
    align-items: center;
    background-color: #282828;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-flex;
    overflow: hidden;
    padding: 11px 18px;
    color: #ffffff;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 17.4px;
  text-align: center;
  white-space: nowrap;
 
}

.login_black {
    all: unset;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid;
    border-color: #33cc00;
    box-sizing: border-box;
    display: inline-flex;
    overflow: hidden;
    padding: 11px 18px;
    color: #33cc00;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 16px;
  font-weight: bold;
  line-height: 17.4px;
  text-align: center;
  white-space: nowrap;
 
}




 .separator {
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 10px;
    }
.signUp {
    all: unset;
    align-items: center;
    background-color: #33cc00;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 11px 12px;
  color: #ffffff;
  font-family: "Monument Extended-Regular", Helvetica;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17.4px;
  text-align: center;
  white-space: nowrap;

 
}

.signUp1 {
display: none;
}


.nav__toggler div{
 width:2.5rem;
 height: 0.2rem;
 margin: 0.4rem;
 background: darkgray;
 transition: 0.4s ease-in;
}

.nav__toggler {
    display: none;
    cursor: pointer;
}

.toggleIcon{
  display: none;
}


    .nav__link{
        color: #282828;
        font-family: "PP Monument Extended-Regular", Helvetica;
        font-size: 18px;
       font-weight: 400;
        letter-spacing: -0.36px;
        all: unset;
        align-items: center;
        background-color:#ffffff;
        border-radius: 10px;
        box-sizing: border-box;
        display: inline-flex;
        overflow: hidden;
        padding: 11px 18px;
      line-height: 17.4px;
      text-align: center;
      white-space: nowrap;
    }


    .testFormat{
      color: #282828;
      font-family: "PP Monument Extended-Regular", Helvetica;
      font-size: 20px;
     font-weight: bold;
      letter-spacing: -0.36px;
      all: unset;
      align-items: center;
      background-color:#ffffff;
      border-radius: 10px;
      box-sizing: border-box;
      display: inline-flex;
      overflow: hidden;
      padding: 11px 18px;
    line-height: 17.4px;
    text-align: center;
    white-space: nowrap;
    }

    .nav__link2{
        color:#ffffff;
        font-family: "PP Monument Extended-Regular", Helvetica;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.36px;
        line-height: 19.6px;
        text-align: center;
        white-space: nowrap;
        background-color:#282828;
        border-radius: 10px;
        box-sizing: border-box;
        display: inline-flex;
        overflow: hidden;
        padding: 11px 18px;
   
    }

    .nav__active{
        transform: translateX(0);
    }

    .under__Header{
       align-items: center;
       justify-content: center;
       color: #282828;
       font-family: "Monument Extended-Regular", Helvetica;
      display: flex;
      text-decoration: none;
      z-index: 0;
      padding: 0.3rem;
     background-color:#ffffff;
   line-height: 17.4px;
   height: 9vh;
   width: 100%; 
   margin-top: 1rem;
   font-size: 19px;
   font-weight: 400;
 margin: auto;
    
     }
     
     .under__Header > * + * {
        margin-left: 6rem; /* Adjust as needed */
      }
   
     .box .gradient {
       background: radial-gradient(50% 50% at 50% 50%, rgb(51, 204, 0) 0%, rgba(217, 217, 217, 0) 100%);
       border-radius: 362px;
       height: 724px;
       margin-top: 20%;
       position: fixed;
       top: 0;
       justify-content: center;
       width: 724px;
     }
     
     label .header {
       color: #282828;
       font-family: "Monument Extended-Regular", Helvetica;
       font-size: 100px;
       font-weight: 400;
       left: 0;
       line-height: 95.5px;
       position: fixed;
       text-align: center;
       text-decoration: none;
       }
       .label .text-wrapper {
       letter-spacing: 0;
       }
       .label .span {
       letter-spacing: -33px;
       }
       
     
     
     .test_format_button {
       align-items: center;
       background-color: #33cc00;
       border-radius: 10px;
       display: inline-flex;
       gap: 10px;
       justify-content: center;
       overflow: hidden;
       padding: 10px 13px;
       position: relative;
       text-decoration: none;
       }


       .test_format_button .text-wrapper {
         color: #ffffff;
         font-family: "Monument Extended-Regular", Helvetica;
         font-size: 18px;
         font-weight: 400;
         letter-spacing: 0;
         line-height: 19.6px;
         margin-top: -1px;
         position: relative;
         white-space: nowrap;
         width: fit-content;
         }
        







