.just{
    justify-content: center !important;
    margin-top: 200px;
}

.block_functions {
    background-color: #282828;
    border-radius: 48px;
    line-height: 40px;
    padding: 20px;
    }

    .grow_cicate {
        -webkit-background-clip: text !important;
        background: linear-gradient(180deg, rgb(255, 255, 255) 59.51%, rgba(255, 255, 255, 0) 100%);
        background-clip: text;
        color: transparent;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.5;
        line-height: 60.8px;
        z-index: 3;
        color: #ffffff;
        margin-left: -360px;
        margin-top: 35px;

        }

        .like_pro{
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 40px;
            font-weight: 400;
            letter-spacing: 0.5;
            line-height: 40.8px;
            color: #ffffff;
        }

        .like_pro1{
            font-family: "Gordita-Light", Helvetica;
            font-size: 30px;
            font-weight: 200;
            letter-spacing: 0.5;
            line-height: 40.8px;
            color: #ffffff;
        }

    .fill-in-block-with {
        background-color: #ffffff;
        border-radius: 30px;
        height: 99px;
        opacity: 0.2;
        width: 617px;
        }
    .reg_find {
        color: #ffffff;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 26.8px;
        text-align: center;
        background-color: #33cc00;
        border: 1px solid;
        border-radius: 30px;
        padding: 35px;
        width: 100%;
        cursor: pointer;
        }

        .reg_find2 {
            color: black;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 26.8px;
            text-align: center;
            white-space: nowrap;
            background-color: #ffffff;
            border: 1px solid;
            border-radius: 30px;
            padding: 35px;
            opacity: 0.2;
            width: 100%;
            }

            .view{
color: #282828;
font-family: "Gordita-Regular", Helvetica;
font-size: 20px;
font-weight: 400;
letter-spacing: 0;
line-height: 21.4px;
text-align: right;
            }
.foto_flex{
    justify-content: center;
    display: flex;
    margin-top: 150px;
    padding-bottom: 60px;
}

.foto_flex > * + * {
    margin-left: 20rem; /* Adjust as needed */
  }

.green_girl{
    display: flex;
   
    
}
         .yourself{
            color: #ffffff;
            font-family: "Gordita-Light", Helvetica;
            font-size: 20px;
            font-weight: 300;
         }   
  .cicate_move{
  margin-left: -500px;
  z-index: 3;
  margin-top: 20px;
  }


.green_boy{
    display: flex;
    margin-right: 40rem;
  
}
.green_girl_div{
   margin-left: -400px;
}

.green_boy_div{
    margin-left: -450px;
    z-index: 0;
}

.gy{
    z-index: 1;
}
        .white_reg {
            color: #ffffff;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 26.8px;
            position:relative;
        }
        .fill_block {
            background-color: #ffffff;
            border-radius: 30px;
            opacity: 0.2;
            color: #ffffff;
            text-align: center;
            white-space: nowrap;
            }

          

            .fill_text{
                font-family: "PP Monument Extended-Regular", Helvetica;
                font-size: 40px;
               font-weight: bold;
               letter-spacing: 0;
              line-height: 26.8px;
              color: #ffffff;
             text-align: center;
             white-space: nowrap;
            }

    .green_row {
        background-color: #33cc00;
        border: 1px solid;
        border-radius: 30px;
        height: 91px;
        width: 617px;
        }

    .bold_dashboard {
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 6rem;
font-weight: bold;
letter-spacing: -1.8px;
line-height: 64.2px;
white-space: nowrap;
        }

        .my_test {
            color: #282828;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 34px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 36.4px;
            }

            .less_text {
                color: #282828;
                font-family: "Gordita-Regular", Helvetica;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: -0.6px;
                line-height: 36px;
                opacity: 0.7;
                }

                .dashboard_flex{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 80px;
                    line-height: 40px;
                }

                .dashboard_flex > * + * {
                    margin-left: 11rem; /* Adjust as needed */
                  }

                .img_set{
                    margin-right: 15px;
                }

                .mon{
                    display: flex;
                }
           
                .mon > * + * {
                    margin-left: 30rem; /* Adjust as needed */
                  }
                .green_white{
                    padding-top: 15px;
                    display: flex;
                    justify-content: center;
                }
                .img_jk{
             margin-right: 15px;
                }


                @media screen and (max-width: 600px) {
                    .dashboard_flex{
                        display: grid;
                        flex-direction: column;
                        margin-bottom: 5rem;
                        margin-top: 20px;
                    }

                    .just{
                        margin-top: 80px;
                    }

                    .img_jk{
                        display: none;
                       
                           }

                    .dist{
                        display: none !important;
                    }

                    .foto_flex{
                        display: none !important;
                    }

                    .bold_dashboard{
                    font-size: 2rem;
                    line-height: 30px;
                    }

                    .img_set{
                        margin-right: 0px;
                    }

                    .block_functions {
                        line-height: 20px;
                        padding: 40px;
                        }

                    .mon{
                        display: flex;
                    }
               
                    .mon > * + * {
                        margin-left: 9rem; /* Adjust as needed */
                      }

                      .my_test{
                        font-size: 20px;
                      }

                      .view{
                        font-size: 15px;
                      }

                      .green_white{
                        padding-top: 5px;
                    }

                    .reg_find {
                      
                        font-size: 15px;
                        font-weight: bold;
            
                        line-height: 15.8px;
                        
                        padding: 6px;
                      
                        }

                        .reg_find2 {
                      
                            font-size: 15px;
                            font-weight: bold;
                
                            line-height: 15.8px;
                            
                            padding: 6px;
                          
                            }

                            .fill_text{
                                font-family: "PP Monument Extended-Regular", Helvetica;
                                font-size: 20px;
                               font-weight: bold;
                               letter-spacing: 0;
                              line-height: 26.8px;
                              color: #ffffff;
                             text-align: center;
                             white-space: nowrap;
                            }


                }


                