
  
  
    .inputs1{
        color: #ffffff;
        font-family: "PP Monument Extended-Light", Helvetica;
        font-size: 18px;
        font-weight: 300;
       
        letter-spacing: 0;
        line-height: 40.5px;
        text-align: center;
     
        white-space: nowrap;
    
        background-color: #282828;
       
        border-radius: 30px;
        }

        .right_sidep{
            line-height: 10px;
            margin-top: 6rem;
              }

              .fallp{
                line-height: 25px;
                margin-top: -1.5rem;
              }
       