
  
  
    .inputs1{
        color: #ffffff;
        font-family: "PP Monument Extended-Light", Helvetica;
        font-size: 18px;
        font-weight: 300;
       
        letter-spacing: 0;
        line-height: 40.5px;
        text-align: center;
     
        white-space: nowrap;
    
        background-color: #282828;
       
        border-radius: 30px;
        }

        .labelsp{
            color: #ffffff;
            font-family: "Gordita-Regular", Helvetica;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 30.5px;
            opacity: 0.7;
            white-space: nowrap;
                  }

                  .inputsp{
                    color: #ffffff;
                    font-family: "PP Monument Extended-Light", Helvetica;
                    font-size: 18px;
                    font-weight: 300;
                    letter-spacing: 0;
                    line-height: 30.5px;
                    text-align: center;
                      white-space: nowrap;
                      background-color: #282828;
                    border-color: #ffffff;
                      border-radius: 30px;
                      padding: 2px;
                      padding-left: 60px;
                      padding-right: 60px;
                      }

        .right_sidep{
            line-height: 10px;
            margin-top: 6rem;
           
              }

              .form_class{
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 20px;
                margin-top: 1.5rem;
              }


              .fallp{
                line-height: 25px;
                margin-top: -1.5rem;
              
               
              }
       