.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.timer h1{
font-size: 4rem;
font-family: "Gordita-Regular", Helvetica;
}

.black-test{
    background-color: #282828;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.black-test1{
    background-color: #282828;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.black-test h1{
    color:#33cc00; 
    font-size: 30px;
    padding-top: 25px;
    font-family: "Gordita-Regular", Helvetica;
}

.black-test1 h1{
    font-size: 30px;
    padding-top: 25px;
    font-family: "Gordita-Regular", Helvetica;
}

.black-test1 p{

    color: white;
    text-align: justify;
    padding-bottom: 20px;
    line-height: 20px;
    padding: 30px;
  
}

.black-test p{

    color: white;
    text-align: justify;
    padding-bottom: 20px;
    line-height: 20px;
    padding: 30px;
  
}
.test-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.test-questions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 90%;
}

.test-questions label{
   color: white;
   line-height: 45px;
   font-family: "Gordita-Regular", Helvetica;
}


.test-questions input[type='checkbox']{
    border: 1px solid #484848;
    background-color:  #282828;
    background: #282828;
}

.below-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 40px;
    padding-top: 30px;
    width: 80%;
}

.below-nav button{
    padding: 10px;
    color: white;
    font-family: "Gordita-Regular", Helvetica;
   font-weight: bold;
   background-color: #33cc00;
   background: #33cc00;
   border: none;

}

.pick{
    color: white;
    font-family: "Gordita-Regular", Helvetica;
   font-weight: bold;
   font-size: 30px;
}

@media screen and (max-width:600px) {
    .black-test{
        background-color: #282828;
        width: 300px;
        height: 430px;
    }
    .black-test1{
        width: 100%;

    }

    .pick{
        color: white;
        font-family: "Gordita-Regular", Helvetica;
       font-weight: bold;
       font-size: 20px;
    }
}
