.my_cart {
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 90px;
font-weight: 400;
letter-spacing: -0.9px;
line-height: 96.3px;
    }

    .gate_pay{
        color: #282828;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 60px;
        font-weight: 400;
        height: 64px;
        letter-spacing: -0.6px;
        line-height: 64.2px;
    }
    .amount{
        background-color: #282828;
        color:white;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        padding: 7px;
       text-align: center;
    }

    .add{
        margin-right: 10px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: green;
        border-radius: 30px;
    }
    .justify_black1{
        display: flex;
        justify-content: center;
        margin-right: 140px;
        margin-bottom: 4rem;
    }

    
    .subtract{
        margin-left: 10px;
        color: white;
        font-size: 20px;
        font-weight: bold;
        background-color: red;
        border-radius: 30px;
    }

    .pay_flex{
       
        margin-top: 80px;
        line-height: 60px;
        display: flex;
        margin-left: 17rem;
       
    }

    .pay_flex > * + * {
        margin-left: 10rem; /* Adjust as needed */
      }

    .gate_pay2{
      
        color: #282828;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 42.8px;
}

.self_dev{
    color: #282828;
    font-family: "Gordita-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: 25.7px;
    opacity: 0.7;
}


    .my_cart_div{
       margin-top: 100px;
       display: flex;
       margin-left: 17rem;  
    }

    .cart_img{
        margin-right: 15px;
    }

    @media screen and (max-width: 600px){
        .my_cart {
            font-size: 30px;
            font-weight: bold;
            line-height: 20.3px;
                }

                .cart_img{
                    margin-right: 10px;
                    width: 6vh;
                }

                .my_cart_div{
                    margin-top: 40px;
                    margin-left: 1rem;  
                 }

                 .button_display{
                    display: flex;
                    margin-top: 0.5rem;
                 }

                 .pay_flex{
       
                    margin-top: 3rem;
                    line-height: 30px;
                    gap: 0rem;
                    margin-left: 1rem;
                   
                }

               
                .pay_flex > * + * {
                    margin-left: 4rem; /* Adjust as needed */
                  }

                .gate_pay{
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30.2px;
                    font-weight: bold;
                }

                .gate_pay2{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 42.8px;
            }

            .self_dev{
                font-size: 15px;
                font-weight: 400;
                opacity: 0.7;
            }

            .justify_black1{
                display: flex;
                justify-content: center;
                margin-right: 0px;
                margin-bottom: 4rem;
              
            }
             body   .payment_fle2{
                    display: flex;
                    justify-content: center;
                    margin-right: 0rem;
                    background-color: #282828;
                    border-radius: 60px;
                     line-height: 20px;
                     padding: 0.6rem;
                }
                
              body  .payment_fle2 > * + * {
                    margin-left: 9rem; /* Adjust as needed */
                  }
                
               body .green_money2 {
                color: #33cc00;
                font-family: "Monument Extended-Regular", Helvetica;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.75px;
                line-height: 80.3px;
                    }


body .button_pay{
    background-color: #33cc00;
    border-radius: 80px;
    color: #ffffff;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.4px;
    line-height: 20.8px;
    text-align: center;
    white-space: nowrap;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: 1.7rem;
    }
    
    body .total_pay{
        color: #ffffff;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 30.8px;
    }
            }
        
    