
.bluk_pad {
    z-index: 0;
    background-color: #020202;
    border-radius: 60px;
    margin-top: 50px;
    padding: 30px;
    display: inline-block;
    margin-bottom: 5rem;
    }
 @media screen and (max-width: 600px){
    .bluk_pad{
        padding: 4rem;
    }

   body .input_country{
        font-size: 12px;
        font-weight: 400;
    }
 }