.new1{
    height: 38vh;
    border: 1px solid ;
    width: 45vh;
    border-radius: 30px;
    background: radial-gradient(70% 50% at 50% 50%, rgb(51, 204, 0) 0%, rgba(217, 217, 217, 0) 100%);
}
.top_boxone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 220px;
    width: 100%;
  
   
}
.inside_new{
        background: radial-gradient(50% 50% at 50% 50%, rgb(51, 204, 0) 0%, rgba(217, 217, 217, 0) 100%);
        border-radius: 362px;
        height: 400px;
        width: 400px;
        } 

        .wrapper_main {
     width: 100%;
     margin: auto;
        }

.abilities{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 100px;
font-weight: bold !important;
line-height: 95.5px;
text-align: center;
}

.top_abilities{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gradient_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -17rem;
}

.gradient_design{
   max-width: 75rem;
}


.wrapper_main{
    max-width: 100%;
  
}
@media screen and (max-width: 600px) {
    .wrapper_main {
        width: 100%;
       
    }

   
    .top_abilities{
        justify-content: center;
        position: relative;
    }



   body .bl_to_apply{
        font-size: 2rem;
        margin-left: 6rem;
    }

    body .grey_heades{
        font-size: 14px;
        line-height: 25px;
        font-weight: bold;
    }

  
   body  .top_bl_white2{
        display: none;
    }

    .top_our{
        width: 10px;
        display: inline-block;
    }

   body .empower{
    font-size: 3rem;
   }
   .app_line{
    margin-top: -8rem;
   }

   body .our_test{
        font-size: 3rem;
       
    }



   body .abilities{
        color: #282828;
        font-family: "Monument Extended-Regular", Helvetica;
        font-size: 30px;
        font-weight: 300;
        line-height: 34.5px;
        text-align: center;
        margin-top: 2rem;
        }
        .top_boxone{
            justify-content: center;
            position: relative;
            margin-top: 100px;
        }

       

       body   .empower{
            color: #282828;
            font-family: "Monument Extended-Regular", Helvetica;
            font-size: 3.2rem;
            font-weight: bold !important;
            letter-spacing: 0;
            line-height: 39.2px;
            margin-left: 1rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
           
         
            }
            .bl_white2{
                flex-direction: column;
                display: grid;
            }
.new1{
    height: 30vh;
    width: 33vh;
}
            .top_bl_white2{
                flex-direction: column;
                display: grid;
            }
       body .empower_box{
            border-radius: 30px;
           width: 35vh;
           height: 30vh;
   
            }

            body .inside_black_bl{
                display: none;
            }
           body .cicate_offerz{
                color: #282828;
                font-family: "Gordita-Regular", Helvetica;
                font-size: 1.3rem;
                font-weight: 400;
                opacity: 0.5;
                letter-spacing: 0;
                line-height: 20.9px;
                text-align: justify;
                margin-right: 2rem;
                }

        .grey_heades{
            color: #282828;
            font-family: "Gordita-Regular", Helvetica;
            font-size: 10px;
            font-weight: 200;
            letter-spacing: 0;
            line-height: 26px;
            opacity: 0.7;
            text-align: center;
           
            }

          .justify_image{
            display: flex;
            justify-content: center;
            align-items: center;
          }

            .if_flex{
                justify-content: center;
                display: flex;
                align-items: center;
        
                width: 100%;
            }
            .top_bl_white{
             display: grid;
             flex-direction: column;
            }
            .top_bl {
            width: 100%;
              display: flex;
              flex-direction: column;
              
            }
           

            .top_bl > *  {
                margin-left: 2rem; /* Adjust as needed */
                margin-top: 2rem;
            }

            .bl_black{
                align-items: center;
                background-color: #282828;
                border-radius: 10px;
                color: #ffffff;
                font-family: "Monument Extended-Regular", Helvetica;
                font-size: 5px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 10.4px;
                text-align: center;
                white-space: nowrap;
                }

               

                .why_flex{
                    display: grid;
                    flex-direction: column;
                    background-color: #282828;
                    padding: 2rem;
                   
                }

               body .why__not{
                    font-size: 4rem;
                    line-height: 45px;
                    color: #ffffff;
                  
                    
                }

                body .bl_tests{
                    font-size: 2rem;
                    background-color: #33cc00;
                    border-radius: 1rem;
                    line-height: 55px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    justify-content: center;
                    text-align: center;
                   margin-top: 0.5rem;
                }
                
                .cross__img{
                    width: 5vh;
                    }

              body  .app_flex{
                    display: flex;
                     gap: 1rem;
                     flex-direction: column;
                    background-color: #33cc00;
                    padding: 7rem;
                    margin-top: -1rem;
                    padding-top: 9rem;
                  
                
                    
                }

               

               

              body  .applicant_black{
                    font-size: 3.9rem;
                    line-height: 54px;
                }

              body  .applicant_opac{
                    font-size: 2rem;
                    line-height: 25px;
                }

                .flex_links{
                    display: flex;
                    flex-direction: column;

                }
                .to_apply_flex1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                
                .flex_links > * + * {
                    margin-left: 0.1rem; /* Adjust as needed */
                  }

                .top_reasons{
                    display: grid;
                    flex-direction: column;
                }
              body .bl_white3{
               margin-top: 3rem;
               margin-right: 3rem;
               width: 38vh;
               }
                .the_bar{
                    display: grid;
                    flex-direction: column;
                }

               body .bl_white{
                    padding: 0rem;
                    width: 38vh;
                }
                body .bl_white3{
                    padding: 1.5rem;
                }

                .reasons_to{
                    font-size: 1rem;
                }
                .bl_green{
                align-items: center;
                background: linear-gradient(180deg, rgb(230.3, 255, 222.06) 0%, rgb(51, 204, 0) 86.04%);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
                color: #ffffff;
                font-family: "Monument Extended-Regular", Helvetica;
                font-size: 5px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 10.4px;
                text-align: center;
                white-space: nowrap;
                
                }

                body .bl_para{
                    font-size: 11px;
                   font-weight: bold !important;
                }
                body .app_button{
                    font-size:20px ;
                    margin-right: 8rem;
                }

                .top_heades{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                  
                }

                .follow__us {
                    font-size: 2rem;
                }

        .links__img{
            max-width: 1rem;
            max-height: 1rem;
        }

       body .if_flex{
            display: none;
        }
               body .img_fl{
                    display: none;
                }

               body .if_reasons{
                    display: none;
                }
                .img_fl{ flex-direction: column;
                display: grid;
            }
   body .top_reasons{
    display: none;
   }
            .gradient_div{
               display: none;
            }

           

           body .the_bar {
                display: none !important;
            }
            .app_line1{
                margin-right: 3.3rem;
            }
            .set_black{
               
                display: none !important;
            }

            .top_empower{
                flex-direction: column;
                justify-content: center;
                align-items: center;  
                width: 100%;           
}
}

.grey_heades{
color: #282828;
font-family: "Gordita-Regular", Helvetica;
font-size: 30px;
font-weight: 400;
letter-spacing: 0;
line-height: 36px;
opacity: 0.7;
text-align: center;
}

.top_heades{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl_black{
align-items: center;
background-color: #282828;
border-radius: 10px;
padding: 10px 30px;
color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
line-height: 17.4px;
text-align: center;
white-space: nowrap;
}

.bl_black:hover{
    color:#ffffff;
    background-color:  #33cc00;
    border-radius: 1rem;
}

.bl_green:hover{
    color:#ffffff;
    background-color:   #282828;
    border-radius: 1rem;
  }

  .app_button:hover{
    background-color: #33cc00;
    border-radius: 3rem;
  }

.bl_green{
    align-items: center;
background: linear-gradient(180deg, rgb(230.3, 255, 222.06) 0%, rgb(51, 204, 0) 86.04%);
background-color: rgba(255, 255, 255, 1);
border-radius: 10px;
padding: 10px 30px;
color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
line-height: 17.4px;
text-align: center;
white-space: nowrap;

}
.bl_to_apply:hover{
    background-color: #33cc00;
    border-radius: 2rem;
    color:#ffffff;
}

.top_bl{
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   display:flex;
}


.top_bl > *  {
    margin-right: 2rem; /* Adjust as needed */
  }

.cicate_offerz{
color: #282828;
font-family: "Gordita-Regular", Helvetica;
font-size: 20px;
font-weight: 200;
letter-spacing: 0;
line-height: 34.9px;
text-align: justify;
}


.empower_box{
border-radius: 20px;

width: 44vh;
height: 40vh;


}


.top_empower{
    justify-content: center;
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.top_empower > * + * {
    margin-left: 4rem; /* Adjust as needed */
  }

.empower{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 5rem;
font-weight: bold;
letter-spacing: 0;
line-height: 60.2px;
}

.our_test{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 6rem;
font-weight: bold;
letter-spacing: 0;
line-height: 50.6px;
white-space: nowrap;


}

.top_our{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%
}

.bl_white{
 background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(232.69, 232.69, 232.69) 100%);
border-radius: 57px;
box-shadow: var(--shadow);
justify-content: center;
align-items: center;
padding: 1.8rem;
border: #282828;
border: 0.3px solid;
width: 39vh;
}

.bl_white3{
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(232.69, 232.69, 232.69) 100%);
   border-radius: 57px;
   box-shadow: var(--shadow);
   justify-content: center;
   align-items: center;
   padding: 2.5rem;
   border: #282828;
   border: 0.3px solid;
   width: 39vh;
   }


.top_bl_white{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   

}

.top_bl_white > * + * {
    margin-left: 2rem; /* Adjust as needed */
  }

.bl_tests{
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 68.6px;
}


.bl_para{
    color: #282828;
    font-family: "Gordita-Regular", Helvetica;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 26.5px;
    text-align: justify; 
    padding-bottom: 10px;
}

.inside_black_bl{
border: 2px solid;
border-color: #282828;
border-radius: 43px;
padding: 10rem;

}

.bl_to_apply{
align-items: center;
background-color: #282828;
border-radius: 37px;
color: #ffffff;
font-family: "PP Monument Extended-Light", Helvetica;
font-size: 3rem;
font-weight: 200;
letter-spacing: 0;
line-height: 43.6px;
text-align: center;
white-space: nowrap;
margin-top: 20px;
margin-bottom: 10px;
padding: 1.5rem;
}

.button_to_apply{
    align-items: center;
    background-color: #282828;
    border-radius: 30px;
    color: #ffffff;
    font-family: "PP Monument Extended-Light", Helvetica;
    font-size: 3rem;
    font-weight: 200;
    line-height: 43.6px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding-left: 3rem;
    padding-right: 3rem;

    }

    .button_to_apply:hover {
        color: #ffffff;
        background-color: #33cc00;

    }

.to_apply_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to_apply_flex1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl_white2{
background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(232.69, 232.69, 232.69) 100%);
border-radius: 57px;
box-shadow: var(--shadow);
display: flex;
justify-content: center;
padding: 2rem;
border: #282828;
border: 0.3px solid;
}


.bl_white2 > * + * {
    margin-left: 4rem; /* Adjust as needed */
  }

.top_bl_white2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
   
}

.bl_block{
border: 2px solid;
border-color: #282828;
border-radius: 43px;

padding-left: 25rem;
padding-right: 25rem;
}

.reasons_to{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 90px;
font-weight: 400;
}

.find_the{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 40px;
font-weight: bold;
letter-spacing: 0;
line-height: 40px;
margin-top: 30px;
}

.right_test{
font-family: "PP Monument Extended-Light", Helvetica;
font-weight: 300;
font-size: 30px;
}

.all_img{
height: 251px;
width: 249px;
}

.top_reasons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}


.top_reasons > * + * {
    margin-left: 15rem; /* Adjust as needed */
  }

.img_fl{
    display: flex;
    justify-content: center;

}

.img_fl > * + * {
    margin-left: 2rem; /* Adjust as needed */
  }

.the_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.the_bar > * + * {
    margin-left: 15rem; /* Adjust as needed */
  }
.if_flex{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}

.if_reasons{
color: #282828;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 24px;
font-weight: bold;
letter-spacing: 0;
line-height: 21.6px;
opacity: 0.5;

}

.why_flex{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
    
}

.why_flex > * + * {
    margin-left: 8rem; /* Adjust as needed */
  }


.why__not{
font-family: "Monument Extended-Regular", Helvetica;
font-size: 7rem;
font-weight: bold;
letter-spacing: 0;
line-height: 76.1px;
}

.cross__img{
height: 252px;
width: 217px;
}

.applicant_black{
color: #282828;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 6rem;
font-weight: bold;
letter-spacing: 0;
line-height: 64.3px;
text-align: center;
white-space: nowrap;
}


.applicant_opac{
color: #282828;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 4rem;
font-weight: 400;
letter-spacing: -1.2px;
line-height: 40px;
opacity: 0.7;
text-align: center;
margin-bottom: 10px;
}

.app_flex{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 120px;

}

.app_flex > * + * {
    margin-left: 9rem; /* Adjust as needed */
  }

.app_button{
background-color: #282828;
border-radius: 30px;
padding: 10px 10px;
color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 30px;
font-weight: 400;
letter-spacing: 0;
line-height: 50.7px;
text-align: center;
margin-left: 90px;

}

.app_line{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.app_line1{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.img_right{
    margin-left: 100px;
}

.set_black{
    justify-content: center;
    display: flex;
    align-items: center;
  margin-top: -53rem;
  margin-bottom: 17rem;
}

.links_board{
 background-color: #282828;
border-radius: 160px;
padding: 20px;
align-items: center;
padding-left: 100px;
padding-right: 100px;
margin-bottom: 20px;
z-index: 1;
}

.follow__us{
color: #ffffff;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 7rem;
font-weight: 400;
letter-spacing: 0;
line-height: 63px;
opacity: 0.5;
text-align: center;
margin-top:10px;
}

.flex_links{
   display: flex;
   justify-content: center;
   margin-top: 25px;
}

.flex_links > * + * {
    margin-left: 4rem; /* Adjust as needed */
  }

.links__img{
max-height: 8rem;
max-width: 8rem;
}

.gradient_flex{
    justify-content: center;
    display: flex;
    margin-bottom: 500px;
    z-index: 0;
}





















