.sign_white {
    color: #ffffff;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 120px;
    font-weight: bold;
    line-height: 140px;
    }

    .sign_opac {
        color: #ffffff;
        font-family: "Gordita-Regular", Helvetica;
        font-size: 27px;
        font-weight: 400;
        letter-spacing: -0.81px;
        line-height: 43.9px;
        opacity: 0.7;
        }
        .forgot_password {
            color: #33cc00;
            font-family: "PP Monument Extended-Regular", Helvetica;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.38px;
            line-height: 40.5px;
            text-align: center;
            text-decoration: underline;
            white-space: nowrap;
            margin-left: 40px;
         

            } 

            .green_login{
  background-color: #33cc00;
 border-radius: 32px;
color: #282828;
 font-family: "Monument Extended-Regular", Helvetica;
font-size: 40px;
font-weight: bold;
letter-spacing: 1.49px;
line-height: 40.5px;
text-align: center;
white-space: nowrap;
padding: 20px;

margin-left: 40px;
                }
        .icon_immg{
            margin-right: 15px;
        }

.email{
background-color: #FFFFFF;
border-radius: 40px;
padding: 20px;
padding-right: 220px;
font-size: 30px;
}

.pwd{
    background-color: #33cc00;
    border-radius: 40px;
    padding: 20px;
    padding-right: 220px;
    margin-top: 40px;
    font-size: 30px;
   
}