.faq{
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 10rem;
    font-weight: bold !important;
    letter-spacing: 0;
    line-height: 126px;
    text-align: center;
    white-space: nowrap;
}

.faq_up{
  margin-top: 200px;
}


.display_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.questions_opac{
color: #282828;
font-family: "Gordita-Regular", Helvetica;
font-size: 2.5rem;
font-weight: 400;
letter-spacing: -1.2px;
line-height: 36.6px;
opacity: 0.6;
text-align: center;
}

.first_box{
    background-color: #282828;
    border-radius: 50px;
    height: 739px;
    width: 628px;
}

.second_box{
    background-color: #282828;
    border-radius: 50px;
    height: 1188px;
    width: 628px;
}

.third_box{

}

.fourth_box{

}

.grid_box{
display: grid;
flex-direction: column;
}

.flexx_box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}




