.faq{
    color: #282828;
    font-family: "Monument Extended-Regular", Helvetica;
    font-size: 10rem;
    font-weight: bold !important;
    letter-spacing: 0;
    line-height: 126px;
    text-align: center;
    white-space: nowrap;
}

.faq_up{
  margin-top: 200px;
}


.display_faq{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}


