.cart_box{
background-color: #282828;
border-radius: 48px;
padding: 4rem;
line-height: 2rem;
display: flex;
flex-direction: column;
}

.cart_flex{
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 6rem;
}

.cart_flex > * + * {
    margin-left: 3rem; /* Adjust as needed */
  }

.back_to_flex{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.span_test{
color: #ffffff;
font-family: "Monument Extended-Regular", Helvetica;
font-size: 60px;
font-weight: 400;
letter-spacing: 0;
line-height: 57.3px;
text-align: center;
}

.cart_btn{
color: #ffffff;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 23px;
font-weight: 400;
border: 4px solid;
border-color: #ffffff;
border-radius: 48px;
letter-spacing: -0.46px;
line-height: 25.1px;
text-align: center;
background-color: #282828;
padding: 1.5rem;
cursor: pointer;
}

.back_dash{
color: #282828;
font-family: "PP Monument Extended-Regular", Helvetica;
font-size: 23px;
font-weight: 400;
letter-spacing: -0.46px;
line-height: 25.1px;
text-align: center;
background-color: #33cc00;
border-radius: 48px;
padding: 1.5rem;
}

.pocas_flex1{
    display: flex;
    justify-content: center;
}

.pocas_flex1 > * + * {
    margin-left: 1rem; /* Adjust as needed */
  }

.plus_one{
    color: #282828;
    font-family: "PP Monument Extended-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.46px;
    line-height: 25.1px;
    background-color: #33cc00;
    border-radius: 48px;
    padding: 1rem;
}

.minus_one{
    color: #282828;
    font-family: "PP Monument Extended-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.46px;
    line-height: 25.1px;
    background-color: #f9034d;
    border-radius: 48px;
    padding: 1rem;
}

.added_in{
    color: #282828;
    font-family: "PP Monument Extended-Regular", Helvetica;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: -0.46px;
    line-height: 25.1px;
    background-color: #ffffff;
    border-radius: 48px;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .cart_flex{
        display: grid;
        flex-direction: column;
        gap: 2rem;
        background-color: #33cc00;
        padding: 2rem;
    }
    .cart_flex > *  {
        margin-left: 0rem; /* Adjust as needed */
      }

      .back_to_flex{
        background-color: #282828;
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
      }
}